form.postbox, div.postbox {
    padding: 10px;
"
}

form.postbox label {
    width: 40%;
    display: inline-block;
    max-width: 200px;
}

form.postbox label#gdpr {
    width: 90%;
    max-width: unset;
}

form.postbox input[type="text"], form.postbox input[type="email"], form.postbox textarea, .postbox-group .wp-editor-wrap {
    width: 59%;
    max-width: 400px;
    vertical-align: top;
    display: inline-block;
}

form.postbox input[type="submit"] {
    margin-top: 20px;
}

.postbox-group {
    margin-top: 15px;
}

.postbox-group:first-child {
    margin-top: 0;
}

#toplevel_page_wp_gdpr .wp-menu-image img {
    width: 24px;
    padding-top: 5px;
}

#nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: start;
}

div#nav_menu {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ddd !important;
    z-index: -1;
}

#nav_menu > a {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px;
    text-decoration: none;

    border: 1px solid #ddd !important;
    border: solid;
    padding: 5px;
    position: relative;
    top: 1px;
}

a#a_settings {
    margin-left: auto;
}

#hr_line {
    position: relative;
    margin-top: 5px;
    z-index: -1;
    margin-top: -1px;
}

#nav_menu > a.active_tab {
    border-bottom-color: #f1f1f1 !important;
    z-index: 1 !important;
    border-bottom-width: 2px !important;
}

#user_info {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#user_info > img {
    height: 10em;
}

#user_info > div {
    display: flex;
    flex-direction: row;
}

div.user_info_header {
    justify-content: space-between;
}

div.user_info_content > p {
    align-self: center;
    margin-left: 10px;
}

div.user_info_content {
    padding-top: 5px;
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f1f1f1 !important;
}

#usr_info_header_btn {
    background-color: white;
    border: none;
    margin-right: 15px;
    font-size: 1, 3em;
    color: #0073aa;
}

h2 {
    margin-bottom: 15px !important;
}

#nav_menu_extra {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

#nav_menu_extra > a {
    margin-left: 15px;
    text-decoration: none;
}

/* This is section for addons submenu */
#addons_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#addons_box > div {
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
}

#addons_box > div > img {
    max-width: 200px;
    max-height: 300px;
}

#addons_box > div > h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
#addons_box > div > p {
    max-width: 150px;
    margin-left: 15px;
}

.addon_footer {
    padding-top: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.more_inf{
    margin-left: auto;
}

#dataregister_table{
    background-color: white;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
}

#dataregister_table > thead{
    text-align: left;
}


        /*General*/

.user_info_content img.a_info, .user_guides_content img.a_info {
    margin: 10px 10px -10px -10px;
}
.user_info_content > p {
    width: 80%;
}
.user_info_header, .user_guides_header {
    margin-bottom: -25px;
}
img.a_background_img{
    margin: 0 0 -50px 250px;
}
#nav_menu a, #nav_menu_extra a, .user_info_content a {
    text-decoration: none;
    color: #555;
}
#nav_menu a:hover, #nav_menu_extra a:hover, .user_info_content a:hover {
    color: #999;
}
p.appsaloon_footer {
    text-align: right;
    margin-right: 20px;
}

        /*Plugin list page*/

/*Status add-ons colors*/
p.active{ color: #32cd32 }
p.inactive{ color: #c28814 }
a.get_add_on{ color: #4169e1 }


        /*Settings page*/

span.dashicons-info {
    color: #999;
    font-size: 35px;
    margin-top: -10px;
}


        /*Help page */
#user_guides, #user_freq_questions, #user_support {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
#user_guides > img, #user_support > img {
    height: 10em;
}

#user_guides > div, #user_support > div,
#user_freq_questions{
    display: flex;
    flex-direction: row;
}

div.user_guides_header, div.user_support_header,
div.user_freq_questions_header{
    justify-content: space-between;
}

div.user_guides_content > p, div.user_support_content > p,
div.user_freq_questions_content > p{
    align-self: center;
    margin-left: 10px;
}

div.user_guides_content, div.user_support_content, .user_freq_questions_content {
    padding-top: 5px;
    margin-top: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #f1f1f1 !important;
}

div.user_support_premium .button-succes {
    background-color: #5E9D55;
    color: #fff;
}
.user_support_content > img {

}
div.users_support_btn_group{
    display: flex;
    flex-direction: row;
}
.user_support_wp, .user_support_premium {
 width: 150px;
}

div.user_support_content {
    margin: auto;
    width: 50%;
}







