/*Stylesheet WP-GDPR-CORE plugin*/

#wp-gdpr .address-card, #wp-gdpr .lock {
    width: auto;
    margin-bottom: 5px;
    padding-right: 10px;
}
#wp-gdpr .address-card {
    height: 30px;
}
#wp-gdpr .lock {
    padding-left: 10px;
    height: 16px;
}
#wp-gdpr  a.nav-link.active {
    border: none;
    border-bottom: 2px solid #007bff;
}
#wp-gdpr h5 {
    padding-left: 16px;
    padding-top: 16px;
}
#wp-gdpr .dt-buttons.btn-group {
    padding-top: 16px;
    padding-bottom: 16px;
}

#wp-gdpr .btn-primary {
    margin: 16px;
}

#wp-gdpr .dataTables_info {
    padding-right: 2px;
}
#wp-gdpr input[type="text"]{
    width: auto;
}
#wp-gdpr .pagination {
    border: none;
}
